<!doctype html>
<html lang="en">
  <head>
    <% include head %>
    <title>Despre Mine</title>

  </head>
  <body>
    <header>
        <% include menu %>
    </header>
    <main>
      <img src="assets/me.jpeg" alt="me" class="photo">
      <div class="despre">
        <h1>Despre mine</h1>
        <p>Salut! Numele meu este Alecs, am 20 de ani si sunt student in anul 2 
            la Facultatea de Matematica si Informatica din Bucuresti. 
            Pasiunile mele cele mai mari sunt informatica si masinile. 
            Pasiunea mea pentru informatica s-a dezvoltat in primii ani de liceu cand studiam limbajul de programare C++. 
            In schimb pasiunea mea pentru masini a inceput de la 3 ani. 
            De la aceea varsta am inceput sa invat marcile si modelele masinilor. 
            Cand am mai crescut, am inceput sa studiez specificatiile fiecarei masini in parte. 
            La varsta de 16 ani am vazut pe bulevardul Victoriei un exemplar de BMW seria 3 E30 restaurat, cunoscut si sub numele de ursulet.
            Mi-a placut atat de mult cum arata astfel ca m-am hotarat sa detin si eu unul. Am inceput sa caut pe OLX o masina care necesita restaurare.
            Deoarece economiile mele nu erau foarte mari (in jur de 500 de euro) am reusit sa achizitionez o masina intr-o stare deplorabila.
            Dupa 2 ani de zile in care masina a fost in proces de restaurare am reusit intr-un final sa finalizez proiectul.
            Printre alte pasiuni mai pot enumera: activitatile sportive(drumetii montane, inot, plimbari cu bicicleta, fotbal, bascket etc), calatoriile, cititul etc. 
        </p>
      </div>
      <a href="assets/cv.pdf">CV-ul meu poate fi vizualizat apasand aici</a>
    </main>
    <footer>
      <% include footer %>
      </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>