<h5>Contactati-ne <h5>
    <small >  Intrarea Mecanicilor nr. 13 <br>
           Sector 6, Bucuresti
    </small>
   <div class="footer-style">
      
      <small>©Alc Web Development</small>
   </div>