<!doctype html>
<html lang="en">
  <head>
    <% include head %>
    <title>Home</title>
  </head>
  <body>
    <header>
        <% include menu %>
    </header>
    <main>
       
        <img id= "background" src = "assets/oras.jpg">
        <img id = "moving" src = "assets/moving.png">
        <div class="container-scop">
            <h2>Scopul acestei aplicatii:</h2>
            <p>Am creat aceasta aplicatie pentru a veni in ajutorul pasionatilor de masini istorice care isi doresc sa readuca la viata un asemenea autovehicul.
                Putem oferi consultanta in ceea ce priveste orice autoturism care necesita o restaurare completa sau partiala.
                Va putem pune la dispozitie de asemenea piese de schimb sau ateliere care realizeaza reconditionari asupra tapiteriei si a altor elemente ale masinii ce necesita reconditionare.
            </p>
        </div>
      
    </main>
    <footer>
      <% include footer %>
    </footer>
    <script src="js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>