<div class="container-fluid logo header_colour">
            <img src="assets/car guy.png" alt="logo" class="logo">
        </div>
        <div class="container-fluid p-0">
              <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/despremine">Despre mine</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/parcurs">Parcurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/planificare">Planificare Consultanta</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/login">Log in</a>
                  </li>
                  </ul>
                </div>
              </nav>
        </div>